@import "./assets/styles/modal.scss";

html, body {
  height: 100%;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  box-sizing: border-box;
}

p, h3 {
  margin: 0;
}
