@import "./assets/styles/modal.scss";
@import "./assets/styles/popup.scss";
@import "./assets/styles/checkbox.scss";
@import "vue3-select-component/dist/style.css";
@import '@vuepic/vue-datepicker/dist/main.css';

html, body {
  height: 100%;
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  box-sizing: border-box;
}

p, h3 {
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;

  &_button {
    padding: 0.75rem 1.5rem;
    background-color: #488aec;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;

    &:hover {
      box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
    }

    &:focus,
    &:active {
      opacity: 0.85;
      box-shadow: none;
    }

    &:disabled, &[disabled=disabled] {
      background-color: gray;
    }
  }
}
