.icon {
  color: gray;
  cursor: pointer;
  transform: translateY(8px);
  width: 24px;
  height: 24px;

  &:hover {
    color: black;
  }

  &.disabled {
    &:hover {
      color: gray;
      cursor: default;
    }
  }
}