.legend {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_elem {
    display: flex;
    gap: 5px;
  }

  .square {
    height: 20px;
    width: 20px;
  }

  .move {
    background: green;
  }

  .formation, .start {
    background: blue;
  }

  .without-formation {
    background: red;
  }

  .wait {
    background-color: gray;
  }

  .circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  .point-icon {
    height: 20px;
    width: 20px;
  }
}